.wrapper {
  background-color: #B7DCC6;
  max-height: 80vh;
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  z-index: 100;
}

.userProfileImage {

}

.userSection {

}

.icon {
  padding: 1em;
  color: #002F3E;
}