@import '../../../index';

.wrapper {
  border-top: 1px solid #002F3E;
  position: relative;
  width: fit-content;

  &__popup {
    flex-flow: row;
    display: none;
    position: absolute;
    z-index: 2;
    background-color: #B7DCC6;
    border-radius: 10px;
    top: -10px;
    left: 4px;
    width: 200px;
    padding: 0 15px;

    &__image {
      width: 45px;
      height: 45px;
      object-fit: contain;
      cursor: pointer;
      padding: 0 10px;
    }

    &__image:hover {
      transform: scale(1.4);
      transition: all .5s;
    }
  }

  &__reactions {
    display: flex;
    flex-flow: row;
    width: fit-content;
    padding: 0 12px;

    &__image {
      width: 45px;
      height: 45px;
      object-fit: contain;
      cursor: pointer;
      padding: 0 10px;
      position: absolute;
      top: -6px;
    }

    &__image:first-child {
      left: 0;
    }
    &__image:nth-child(2) {
      left: 15px;
    }
    &__image:nth-child(3) {
      left: 30px;
    }
    &__image:nth-child(4) {
      left: 45px;
    }

    &__count {
      display: flex;
      align-self: center;
      font-weight: bold;
      font-size: 20px;
    }

  }
}

.wrapper:hover .wrapper__popup {
  display: flex;
}

.noBorder {
  border: none !important;
}