.info-section {
  display: flex;
  width: 100%;
  align-items: flex-end;
  padding: 40px;

  &__wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;

    &__title {
      margin-bottom: 20px;
    }

    &__status {

    }

    &__owner {

    }
  }

  .action-section {
    text-align: center;

    &__item {
      &__counter {
        font-size: 32px;
        font-weight: bold;
      }

      &__image {
        width: 50px;
      }
    }
  }

  &__map-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__map {
    height: 400px;
    width: 50%;
    position: relative;
    left: 40px;

    &__location-text {
      color: #002F3E;
      font-weight: bold;
    }
  }

  &__map:nth-child(3) {
    position: unset;
  }

  &__posts {
    width: 43%;
    margin-left: 60px;
  }

  &__report-button {
    cursor: pointer;
    position: fixed;
    top: 70px;
    right: 20px;
    transition: 2s;
    z-index: 2;
  }

  &__report-button:hover {
    transform: scale(1.5);
    transition: 2s;
  }
}

.map-container-section > div {
  position: unset !important;
}