.wrapper {
  min-height: 100vh;
  position: relative;

  &__bgImageTop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__bgImageBottom {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  &__title {
    position: relative;
    z-index: 1;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 35px;
    padding-top: 10%;
    padding-left: 10%;
    margin-bottom: 2rem;
  }

  &__items {
    justify-content: center;

    &__item {
      background-color: white;
      border: 2px solid #4CA771;
      padding: 2rem;
      margin: 20px;
      cursor: pointer;
      
      &__image {
        width: 50px;
        height: 50px;
      }

      &__info {
        &__name {
          font-family: "Raleway", sans-serif;
          font-weight: bold;
          font-size: 25px;
          padding-bottom: 10px;
          border-bottom: 1px solid #002F3E;
        }

        &__description {

        }
      }
    }
  }
}