.wrapper {
  background-color: #002F3E;
  color: white;
  padding: 2em 3em;
}

.imageWrapper {
  background-color: #BAE4B4;
  border-radius: 50%;
}

.linksWrapper {

}

.link {
  text-decoration: none;
  color: white;
}
.link:hover {
  color: #4CA771;
}