.btn {
  background-color: white !important;
  border: 2px solid #002F3E !important;
  padding: 0.8em 4em;
  color: #002F3E !important;
  border-radius: 0 20px;
  cursor: pointer;
  outline: none;
  text-align: center;
  transition: all .2s ease-in-out;
}

.btn:hover {
  color: #002F3E !important;
  border: 2px solid #002F3E !important;
}