.wrapper {
  .overlay-bg {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0.5;
  }
  &__modal {
    position: fixed;
    background-color: white;
    z-index: 101;
    width: 50%;
    top: 20%;
    left: 25%;
    border: 2px solid #002F3E;
    height: 400px;

    .close-button {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
      z-index: 2;
      font-size: 20px;
    }

    .bg-shape-image {
      width: 70%;
    }
    .bg-shape-image:nth-child(1) {
      position: absolute;
      top: 0;
      right: 0;
    }

    .bg-shape-image:nth-child(2) {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &__title {
      color: #002F3E;
      z-index: 1;
      position: relative;
      font-size: 24px;
      padding: 10px 20px;
      text-align: left;
      font-weight: bold;
      border-bottom: 1px solid #002F3E;
      margin-bottom: 0;

    }
    &__items {
      max-height: 335px;
      overflow-y: scroll;
      z-index: 2;
      position: relative;
      width: 100%;

      &__item {
        position: relative;
        display: flex;
        flex-direction: row;
        padding: 10px 20px;
        border-bottom: 1px solid #002F3E;
        align-items: center;

        &__image {

        }
        &__name {
          text-align: left;
          margin: 0 20px;
          font-weight: bold;
        }
        &__description {
          align-self: center;
          margin-bottom: 0;
        }
      }
    }
  }
}